@font-face {
  font-family: "iconfont"; /* Project id 4374422 */
  src: url('iconfont.woff2?t=1703765868456') format('woff2'),
       url('iconfont.woff?t=1703765868456') format('woff'),
       url('iconfont.ttf?t=1703765868456') format('truetype');
}
@font-face {
  font-family: "Bebas Neue"; /* Project id 4374422 */
  src: url('./BebasNeue-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaozhunhuajizhi:before {
  content: "\e78c";
}

.icon-fengxianyujing:before {
  content: "\e78d";
}

.icon-shuzihuapingtai:before {
  content: "\e78b";
}

.icon-lvseyuanqu:before {
  content: "\e789";
}

.icon-shuziluansheng:before {
  content: "\e78a";
}

.icon-guanligaoxiao:before {
  content: "\e788";
}

.icon-shujuronghe:before {
  content: "\e787";
}

.icon-zhibiaopinggu:before {
  content: "\e785";
}

.icon-guanlibihuan:before {
  content: "\e786";
}

.icon-yingjizhichengshao:before {
  content: "\e782";
}

.icon-yuanpushibie:before {
  content: "\e783";
}

.icon-jingjifazhan:before {
  content: "\e784";
}

.icon-zhinenghuasuanfa:before {
  content: "\e781";
}

.icon-qiyejianguan:before {
  content: "\e77f";
}

.icon-yiweisuyuan:before {
  content: "\e780";
}

.icon-jingzhunsuyuan:before {
  content: "\e77e";
}

.icon-yewuzhicheng:before {
  content: "\e7c3";
}

.icon-fenxishendu:before {
  content: "\e7c2";
}

.icon-kehumanyi:before {
  content: "\e7c1";
}

.icon-jishujiagou:before {
  content: "\e7be";
}

.icon-guankanshipin:before {
  content: "\e77c";
}

.icon-anniu-jiantou:before {
  content: "\e77d";
}

.icon-shishiyujing-zhandian:before {
  content: "\e6df";
}

.icon-shangwuzixun:before {
  content: "\e779";
}

.icon-erweima:before {
  content: "\e77a";
}

.icon-lianxidianhua:before {
  content: "\e77b";
}

.icon-kefu:before {
  content: "\e760";
}

.icon-huanbaocongyerenyuan:before {
  content: "\e774";
}

.icon-shubiao:before {
  content: "\e775";
}

.icon-zixundianhua:before {
  content: "\e776";
}

.icon-zhengfuguanlizhe:before {
  content: "\e777";
}

.icon-anniujinru:before {
  content: "\e778";
}

.icon-gengduo-xiangzuo:before {
  content: "\e71d";
}

.icon-gengduo-xiangyou:before {
  content: "\e723";
}

.icon-xiala:before {
  content: "\e75a";
}

.icon-yuanqugailan:before {
  content: "\e797";
}

.icon-kongqi:before {
  content: "\e72b";
}

.icon-youliangtian:before {
  content: "\e7b9";
}

